@import "../../main_css/variables";

.get_started {
    background-image: url("../../assets/chromeye_assignment_desktopbgbanner_v1.jpg");
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.get_started-sub-container {    
    background-color: #EBFBFD;
    border-radius: .8em;
    padding: 10px;
    

}